nav{
    display: flex;
    position:absolute;
    justify-content: space-between;
    align-items: center;
    top:0;
    left:0;
    right:0;
    background-color: black;
    color: pink;
}
section{
    margin-top: 10vh;
    display: flex;
    justify-content: space-evenly;
    
}
.user{
    display: flex;
    border: 2px solid black;
    flex-basis: 20%;
    height: 100px;
    align-items: center;
    justify-content: center;
    flex-direction:column;
}
.name{
    font-weight: bold;
    font-style: italic;
    
}
main{
    display: flex;
    flex-direction:column;
    height: 100vh;
    width: 100%;
    background-color: pink;
    justify-content: center;
    align-items: center;
}
main h1{
    font-family:'Times New Roman', Times, serif;
}
main button{
    width: 20%;
    border: 2px solid black;
    color: white;
    background-color: black;
}